:root {
  font-size: 62.5%;
  --white: #e4e7ed;
  --grey: #424242;
  --light-grey: #dfe0e0;
}

* {
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  text-transform: uppercase;
}

html,
body {
  height: 100%;
}
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-image: url(/header-image.jpg);
  background-size: cover;
  color: var(--light-grey);
}

.header__heading {
  font-size: 5.5rem;
  top: 100%;
  letter-spacing: 0.38rem;
}

.header__heading--sub {
  font-size: 3.5rem;
  letter-spacing: 0.52rem;
}

.address__container {
  font-size: 2rem;
  margin-right: 4.5rem;
  letter-spacing: 0.12rem;
  padding: 2rem;
}

.address__location {
  margin-top: 1rem;
}

.arrow__down {
  position: absolute;
  bottom: 0;
  padding: 2rem;
}

.arrow__down--image {
  width: 10rem;
}

.main__container {
  padding: 1.5rem 1.5rem;
}

.main__heading {
  text-align: center;
  font-size: 3.5rem;
  margin: 3rem;
  background: linear-gradient(
    #ffffff 0%,
    #ffffff 49%,
    #000000 50%,
    #000000 51%,
    #ffffff 52%,
    #ffffff 100%
  );
}

.main__heading span {
  background: #fff;
  padding: 0 20px;
  position: relative;
  z-index: 5;
}
.main__container--card {
  width: 80%;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 3rem;
  font-size: 2rem;
  line-height: 2.3;
  border: 2px solid var(--grey);
}

.footer {
  height: 10rem;
}
.footer__heading {
  font-size: 2rem;
}
