@media screen and (max-width: 800px) {
  h2 {
    font-size: 1.5vh;
  }
  header {
    display: inline;
  }
  header address,
  header p {
    font-size: 1.5vh;
  }
}

:root {
  font-size: 62.5%;
}

* {
  font-family: "Bodoni MT", serif;
  box-sizing: border-box;
  border-radius: 1rem;
}

h1,
h2,
h3 {
  text-transform: uppercase;
  font-family: "Didot", sans-serif;
}

header {
  font-size: 1vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

header h1 {
  background: #203a6b;
  color: #e4e7ed;
  margin: 0 3rem;
  padding: 1.5rem 1.5rem;
  font-size: 3.5vh;
}

header p,
header address {
  padding: 1.5rem;
  font-size: 1.6vh;
}

main {
  flex-direction: column;
  display: flex;
  font-size: 2rem;
}

section h2 {
  font-size: 2rem;
  text-align: center;
  border-bottom: 1px solid black;
  border-radius: 0;
  padding: 1.5rem;
  /* TODO: Add a span to the h2 so this works (https://www.impressivewebs.com/centered-heading-horizontal-line/ Method 3) 
  background: linear-gradient( 
    #ffffff 0%,
    #ffffff 49%,
    #000000 50%,
    #000000 51%,
    #ffffff 52%,
    #ffffff 100%
  ); */
}

/* TODO: add icons above each section; will require empty span elements */
section {
  margin: 0 10rem;
  padding: 0 5rem;
}

section:first-child {
  padding-top: 1rem;
}

ul li ul {
  list-style-type: none;
}
footer {
  background: #203a6b;
  color: #e4e7ed;
  font-size: 1.5vh;
  display: flex;
  justify-content: center;
  align-self: center;
}
